<h2>Events</h2>

<% @events.each do |event| %>
 <p>Name: <%= event.type() %></p>
 <p>Point gain: <%= event.point_gain() %></p>

  <a href="/events/<%= event.id %>">more details</a><br>
  <hr>
<% end %>
<br>

<a class="button2" href="/events/new">add event</a><br>
 