<h2>Events</h2>

<% @events.each do |event| %>
 <p>Name: <%= event.type() %></p>

  <a href="/events/<%= event.id %>">View</a><br>
  <hr>
<% end %>

  <a href="/events/new">Create a new event!</a><br>
 