<h1>Our Events</h1>

<% @events.each do |event| %>
 <div class="grid-pal">
 <h4><%= event.type() %><h4>
 <h5>Point gain: <%= event.point_gain() %></h5>

  <a href="/events/<%= event.id %>"><img src="/images/map.png" style="width:80px; height:80px"></a><br>
</div>
<% end %>
<br><br><br>

<a href="/events/new"><img src="/images/event.png" style="width:50px; height:50px"></a>
<a href="/"><img src="/images/home.png" style="width:50px; height:50px"></a>
 