<h2>Add an Event</h2>

<form action= "/events" method="post">

  <label for="type">Type:</label>
  <input type="text" name="type">

  <label for="point_gainh">Point gain:</label>
  <input type="number" name="point_gain">

  <input type='submit' value="Add">
</form>