<h2>You went on a date!</h2>

<p>Client: 
<%= @paldate.palship.client.name %></p>

<p>Pal:
<%= @paldate.palship.pal.name %></p>

<p>Event:
<%= @paldate.event.type %></p>
<br><br>

<a class="button2" href="/clients">back</a>