<h1>Paldates</h1>

<% @paldates.each do |paldate| %>

<p><%= paldate.palship.client.name %> went on a <%= paldate.event.type %> date with her pal <%= paldate.palship.pal.name %></p>
<a href="/paldates/<%= paldate.id %>">view</a>
<hr>
<br>

<% end %>