  <h2>Palships</h2>

  <% @palships.each do |palship| %>
  <%= palship.client.name %> is pals with: <%= palship.pal.name %><br>
  <br><a href="/palships/<%= palship.id %>">view palship</a><br>
  <hr>
  <br>
  <% end %>

  <a class="button2" href="/palships/new">new pal</a>
  <a class="button2"href="/pals/new">add a pal</a>

