  <h1>Palships</h1>

  <% @palships.each do |palship| %>
  <div class="grid-pal">
  <h4><%= palship.client.name %></h4> 
  <a href="/palships/<%= palship.id %>"><img src="/images/heart_mug.png" style="width:80px; height:80px"></a>
  <h4><%= palship.pal.name %></h4>
  
  </div>
  
  <% end %>
  <br><br><br>
  
  <a href="/palships/new"><img src="/images/palship.png" style="width:50px; height:50px"></a>
  <a href="/"><img src="/images/home.png" style="width:50px; height:50px"></a>

