  <% @palships.each do |palship| %>
  Client: <%= palship.client.name %> - is pals with: <%= palship.pal.name  %><br>
  <a href="/palships/<%= palship.id %>">View</a><br>
  <hr>
  <br>
  <% end %>

  <a href="/palships/new">Make a new Palship</a><br>
  <a href="/pals/new">Add a new Pal!</a><br>

