<h2> Your Palship</h2>

<p><b>Client:</b>
<%= @palship.client.name %></p>

<p><b>Pal:</b>
<%= @palship.pal.name %></p>
<br><br>

<a class="button2" href="/palships/<%= @palship.id %>/paldates">paldates</a>
<a class="button2" href="/palships">back</a>