<!DOCTYPE html>
<html>
<head>
  <title>Palsapalooza</title>
</head>
<body>
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/pals">Pals</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/palships">Palships</a></li>

    </ul>
  </div>
</nav>
<main>
  <%= yield %>
</main>
</body>
</html>