<h1>Our Clients</h1>

<% @clients.each do |client| %>
<div class="grid-client">
<h4><%= client.name() %></h4>
  
  <a href="/clients/<%= client.id %>"><img src="/images/misc_profile.png" style="width:80px; 
  height:80px"></a></p>
</div>
<% end %>


<br><br>
<a class="button" href="/clients/new">Join!</a><br>



