<h2>Our Clients</h2>

<% @clients.each do |client| %>
 <p>Name: <%= client.name() %><br><br>
 
 <a href="/clients/<%= client.id %>">view profile</a></p>
 
 <hr>

<% end %>

 <br><a class="button" href="/clients/new">Join today!</a><br>


