<h2>Clients</h2>

<% @clients.each do |client| %>
 <p>Name: <%= client.name() %></p>

  <a href="/clients/<%= client.id %>">View</a><br>
  <hr>
<% end %>

  <a href="/clients/new">Join today!</a><br>


