<h1>Add Client</h1>

<form action= "/clients" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <input type='submit' value="Join us today!">
</form>

<br>
<a class="button2" href="/clients">back</a>