body {
  font-family: 'Bungee Hairline', cursive;
}

h1 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 40px;
}

h4 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
}

h5 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 16px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin: 0 10px;
  padding: 5px 15px;
}

nav a:hover {
  background-color: #E0EEEE;
}

nav {
  padding: 5px;
  background-color: lightblue;
  border-radius: 5px;
}

.button {
    text-decoration: none;
    display: block;
    width: 90px;
    height: 15px;
    background: lightblue;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.button2 {
  text-decoration: none;
  display: inline-block;
  width: 80px;
  height: 15px;
  background: lightblue;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.grid-client{
  background :#E0EEEE;
  border-radius: 25px;
  width: 160px;
  height: 170px;
  display: inline-block;
  text-align: center;
  flex-direction: column;
}

.grid-pal{
  background: #E0EEEE;
  border-radius: 25px;
  width: 160px;
  height: 240px;
  display: inline-block;
  text-align: center;
  flex-direction: column;
}

.grid-profile{
  vertical-align: text-top;
  background: #E0EEEE;
  border-radius: 25px;
  width: 200px;
  height: 240px;
  display: inline-block;
  text-align: center;
  flex-direction: column;
}

img {
  vertical-align: text-top;
}