<h2>Pals</h2>

<% @pals.each do |pal| %>
 <p>Name: <%= pal.name() %></p>
 <p>Type: <%= pal.type() %></p>
 <p>Point worth: <%= pal.point_worth() %></p>

  <a href="/pals/<%= pal.id %>">View</a><br>
  <hr>
<% end %>

<br><br>
<a class="button2" href="/pals/new">add a pal</a>
<a class="button2" href="/events">our events</a><br>