<h2>Add a new Pal</h2>

<form action= "/pals" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="type">Type:</label>
  <select name="type">
    <option value="Budget">Budget</option>
    <option value="Classic">Classic</option>
    <option value="Deluxe">Deluxe</option>
  </select>

  <label for="point_worth">Point worth:</label>
  <input type="number" name="point_worth">

  <input type='submit' value="Become a Pal today!">
</form>

<br>
<a class="button2" href="/pals">back</a>